# install with pip install -r requirements.txt
docutils==0.12
Sphinx<1.6.0
ablog==0.8.4
sphinxcontrib-blockdiag
watchdog
# != 4.0.0 because https://github.com/sphinx-contrib/spelling/issues/5
sphinxcontrib-spelling!=4.0.0
sphinx_bootstrap_theme
