# --------------------------------------------------------
# The requirements which are only needed for documentation
# --------------------------------------------------------

sphinx>=1.6.5
sphinx_rtd_theme>=0.1.7
