
/* theme ================================================================== */
.container {
    font-size: 1.2em;
    max-width: 1000px;
    background-color: white;  /* drop the fancy shenanigans for the content */
    background-image: none;  /* drop the fancy shenanigans for the content */
}

footer {
    font-size: 0.7em;
}

/* fancy shenanigans on the left and right ================================= */
/* Credits to Steve Schoger from http://www.heropatterns.com/                */
div.navbar-fixed-top {
    background-color: #dbe2e5;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23929fac' fill-opacity='0.15' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

body {
    background-color: #dbe2e5;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23929fac' fill-opacity='0.15' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

/* Admonitions ============================================================ */

/*  How to pick the colors: Go to:
    https://www.w3schools.com/colors/colors_picker.asp
    light one (top):   90%
    dark one (bottom): 85%
    border:            70%
*/

/* Todo (red as hell) */
div.admonition-todo.alert.alert-info {
    background-image: -webkit-linear-gradient(top,red 0,red 100%);
    background-image: -o-linear-gradient(top,red 0,red 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(red),to(red));
    background-image: linear-gradient(to bottom,red 0,red 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='red', endColorstr='red', GradientType=0);
    background-repeat: repeat-x;
    border-color: black;
    font-weight: bold;
    color: white;
}

/* Feedback needed (blue) */
div.admonition.admonition-feedback-needed.alert {
    background-image: none;
    background-color: #e6eeff;
    border-color: white;
    border-left-width: 5px;
    border-left-color: #6699ff;
}

/* Note (gray) */
div.admonition.note.alert {
    background-image: none;
    background-color: #f2f2f2;
    border-color: white;
    border-left-width: 5px;
    border-left-color: #b3b3b3;
}

/* Tip (green) */
div.admonition.tip.alert {
    background-image: none;
    background-color: #ebfaeb;
    border-color: white;
    border-left-width: 5px;
    border-left-color: #85e085;
}

/* Warning (yellow) */
div.admonition.warning.alert {
    background-image: none;
    background-color: #ffffe6;
    border-color: white;
    border-left-width: 5px;
    border-left-color: #ffff66;
}

/* Important (red) */
div.admonition.important.alert {
    background-image: none;
    background-color: #ffe6e6;
    border-color: white;
    border-left-width: 5px;
    border-left-color: #ff6666;
}


/* Post list ============================================================== */
ul.postlist > li > p.first {
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 5px;
}

ul.postlist > li {
    border-bottom: solid 1px #cccccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
    /* To reduce the indent from being a <li> element */
    margin-left: -45px;
}


/* Permalinks ============================================================= */
a.headerlink:before{
    /* http://fontawesome.io/icon/link/ */
    font-family: "FontAwesome";
    content: "\f0c1";
}
a.headerlink:hover {
    /* otherwise we see an underline below the whitespace */
    text-decoration: none;
}


/* Images ================================================================= */
/* NOTE: only my own images (not linkedin) should be this fancy */
a.image-reference img {
    /* Contrast white images on white background */
    border: solid 1px #CCC;
    /* Rounded corners (which need a little extra space) */
    border-radius: 20px;
    padding: 20px;
    /* Shadow at the bottom and right (which shouldn't overlap text) */
    box-shadow: 8px 8px 10px  #aaa;
    -moz-box-shadow: 8px 8px 10px  #aaa;
    -webkit-box-shadow: 8px 8px 10px  #aaa;
    -o-box-shadow: 8px 8px 10px  #aaa;
    margin-bottom: 8px;
    /* Centering the image */
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* Code =================================================================== */
table.highlighttable tbody tr .linenos .linenodiv pre {
    font-size: 0.75em;
}
table.highlighttable tbody tr .code .highlight pre {
    font-size: 0.75em;
}
td.code div.highlight {
    width: 100%;
}
table tbody tr td.code {
    width: 100%;
    font-size: 1em;
}

div[class^="highlight-"] {
     /*
     This includes all the special syntax highlighting tables:
       - highlight-text
       - highlight-yaml
       - highlight-*
     */
     overflow-x: auto; /* only scroll horizontally if necessary */
}

/* Definition list ======================================================== */
dl dt {
    font-weight: bold;
}

/* quotes ================================================================= */
blockquote {
    font-style: italic;
    font-size: 110%;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    width: 80%;
    quotes: "\00BB" "\00AB";
}
blockquote:before {
    content: open-quote;
}
blockquote:after {
    content: close-quote;
}


/* Tables ================================================================= */
    /* 'tr:first-child.row-odd' is for tables *without* a header line */
table.table tbody tr:first-child.row-odd td {
    word-break: break-all;
}


/* Format of emphasized text rst: `text` ================================== */
cite {
    font-style: italic;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}


/* URLs in references section handling ==================================== */
table.footnote.table tbody tr td {
    word-break: break-all;
}


/* Long code formatted text =============================================== */
code.docutils.literal span.pre {
    word-break: break-all;
}
