
/* theme ================================================================== */
.container {
    font-size: 1.2em;
    max-width: 1000px;
}
footer {
    font-size: 0.7em;
}


/* Admonitions ============================================================ */

/*  How to pick the colors: Go to:
    https://www.w3schools.com/colors/colors_picker.asp
    light one (top):   90%
    dark one (bottom): 85%
    border:            70%
*/

/* Todo (red as hell) */
div.admonition-todo.alert.alert-info {
    background-image: -webkit-linear-gradient(top,red 0,red 100%);
    background-image: -o-linear-gradient(top,red 0,red 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(red),to(red));
    background-image: linear-gradient(to bottom,red 0,red 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='red', endColorstr='red', GradientType=0);
    background-repeat: repeat-x;
    border-color: black;
    font-weight: bold;
    color: white;
}

/* Feedback needed (blue) */
/* The CSS theme does this already correctly */

/* Note (gray) */
div.admonition.note.alert.alert-info {
    background-image: -webkit-linear-gradient(top,#e6e6e6 0,#d9d9d9 100%);
    background-image: -o-linear-gradient(top,#e6e6e6 0,#d9d9d9 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#e6e6e6),to(#d9d9d9));
    background-image: linear-gradient(to bottom,#e6e6e6 0,#d9d9d9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6e6e6', endColorstr='#d9d9d9', GradientType=0);
    background-repeat: repeat-x;
    border-color: #b3b3b3;
}

/* Tip (green) */
div.admonition.tip.alert.alert-info {
    background-image: -webkit-linear-gradient(top,#ccffcc 0,#b3ffb3 100%);
    background-image: -o-linear-gradient(top,#ccffcc 0,#b3ffb3 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#ccffcc),to(#b3ffb3));
    background-image: linear-gradient(to bottom,#ccffcc 0,#b3ffb3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccffcc', endColorstr='#b3ffb3', GradientType=0);
    background-repeat: repeat-x;
    border-color: #66ff66;
}

/* Warning (yellow) */
/* The CSS theme does this already correctly */

/* Important (red) */
div.admonition.important.alert.alert-info {
    background-image: -webkit-linear-gradient(top,#ffcccc 0,#ffb3b3 100%);
    background-image: -o-linear-gradient(top,#ffcccc 0,#ffb3b3 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#ffcccc),to(#ffb3b3));
    background-image: linear-gradient(to bottom,#ffcccc 0,#ffb3b3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcccc', endColorstr='#ffb3b3', GradientType=0);
    background-repeat: repeat-x;
    border-color: #ff6666;
}


/* Post list ============================================================== */
ul.postlist > li > p.first {
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 5px;
}


/* Permalinks ============================================================= */
a.headerlink:before{
    /* http://fontawesome.io/icon/link/ */
    font-family: "FontAwesome";
    content: "\f0c1";
}
a.headerlink:hover {
    /* otherwise we see an underline below the whitespace */
    text-decoration: none;
}


/* Images ================================================================= */
/* NOTE: only my own images (not linkedin) should be this fancy */
a.image-reference img {
    /* Contrast white images on white background */
    border: solid 1px #CCC;
    /* Rounded corners (which need a little extra space) */
    border-radius: 20px;
    padding: 20px;
    /* Shadow at the bottom and right (which shouldn't overlap text) */
    box-shadow: 8px 8px 10px  #aaa;
    -moz-box-shadow: 8px 8px 10px  #aaa;
    -webkit-box-shadow: 8px 8px 10px  #aaa;
    -o-box-shadow: 8px 8px 10px  #aaa;
    margin-bottom: 8px;
    /* Centering the image */
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* Code =================================================================== */
table.highlighttable tbody tr .linenos .linenodiv pre {
    font-size: 0.75em;
}
table.highlighttable tbody tr .code .highlight pre {
    font-size: 0.75em;
}
td.code div.highlight {
    width: 100%;
}
table tbody tr td.code {
    width: 100%;
    font-size: 1em;
}

div[class^="highlight-"] {
     /*
     This includes all the special syntax highlighting tables:
       - highlight-text
       - highlight-yaml
       - highlight-*
     */
     overflow-x: auto; /* only scroll horizontally if necessary */
}

/* Definition list ======================================================== */
dl dt {
    font-weight: bold;
}

/* quotes ================================================================= */
blockquote {
    font-style: italic;
    font-size: 110%;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    width: 80%;
    quotes: "\00BB" "\00AB";
}
blockquote:before {
    content: open-quote;
}
blockquote:after {
    content: close-quote;
}


/* Tables ================================================================= */
    /* 'tr:first-child.row-odd' is for tables *without* a header line */
table.table tbody tr:first-child.row-odd td {
    word-break: break-all;
}


/* Format of emphasized text rst: `text` ================================== */
cite {
    font-style: italic;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}


/* URLs in references section handling ==================================== */
table.footnote.table tbody tr td {
    word-break: break-all;
}


/* Long code formatted text =============================================== */
code.docutils.literal span.pre {
    word-break: break-all;
}
